html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



h1 {
color: #3f1622;
font-family: "PT Sans";
font-size: 1.5rem;
font-style: normal;
}

img {
  width: 100%;
}

a {
  color: #8f2440;
  font-family: "PT Sans";
  font-size: 1.125rem;
  font-weight: normal;
  text-decoration: none;
}

nav ol {
  list-style-type: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

figcaption {
  color: #222;
  font-family: "PT Serif";
  font-size: 0.8rem;
  font-style: italic;
}

blockquote {
  color: #222;
  font-family: "PT Serif";
  font-size: 1.5rem;
  font-style: italic;
}

h2 {
color: #3f1622;
font-family: "PT Sans";
font-size: 1.5rem;
font-weight: normal;
}

.days {
  color: #222;
  font-family: "PT Serif";
  font-size: 1.125rem;
  font-weight: bold;
}

main {
  color: #222;
  font-family: "PT Serif";
  font-size: 0.8rem;
  font-style: normal;
}
