html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans";
  font-size: 1.5rem;
  font-style: normal;
}

img {
  width: 100%;
}

nav {
  color: #8f2440;
  font-family: "PT Sans";
  font-size: 1.125rem;
  font-weight: normal;
}

ol {
  text-decoration: none;
  list-style-type: none;
}

a {
  color: #8f2440;
  text-decoration: none;
  list-style-type: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

dt {
  color: #3f1622;
  font-family: "PT Sans";
  font-size: 1.125rem;
  font-weight: normal;
}

figcaption {
  color: #222;
  font-family: "PT Serif";
  font-size: .8rem;
  font-style: italic;
}

blockquote {
  color: #222;
  font-family: "PT Serif";
  font-size: 1.5rem;
  font-style: italic;
}

cite {
  color: #222;
  font-family: "PT Serif";
  font-size: .8rem;
  font-style: italic;
}

h2 {
  color: #3f1622;
  font-family: "PT Sans";
  font-size: 1.5rem;
  font-weight: normal;
}

figure + p {
  color: #222;
  font-family: "PT Serif";
  font-size: 1.125rem;
  font-weight: bold;
}
